@import "tailwindcss";

html, body, #root {
  height: 100%;
  background: #000000;
  color: #ffffff;
}

.glass {
  background: rgba(17, 24, 39, 0.5);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(31, 41, 55, 1);
}